<?xml version='1.0' encoding='UTF-8'?>
<openerp>
    <data>
        <menuitem name="Ocorrencias" id="menu_ocorrencias_principal"/>
       <!--Ocorrencias-->
        <menuitem name="Ocorrencias" id="menu_ocorrencias" parent="menu_ocorrencias_principal"/>
        <menuitem name="Lancamento de ocorrencia" id="menu_ocorrencias_lancamento"
                  parent="menu_ocorrencias" action="action_ocorrencia"/>
        <menuitem name="Mapeamento de ocorrencias" id="menu_ocorrencias_mapeamento"
                  parent="menu_ocorrencias"
                  action="action_mapemanto_ocorrencias"/>

        <!--Dashboard-->
        <menuitem name="Dashboard de ocorrencias" parent="base.menu_reporting_dashboard"
                  action="open_board_session" sequence="1" id="menu_ocorrencia_dashboard"
                  icon="terp-graph"/>
    </data>
</openerp>